<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Notiia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>

		<% if (validacao) {%>
			<ul>
				<% for (var i=0; i<validacao.length; i++){%>
					<li><%= validacao[i].msg%></li>
				<% } %>
			</ul>

		<% } %>
		<form action="noticias/salvar" method="POST">
			Titulo : <input type="text" name="titulo" value="<%= noticia.titulo%>" />
			<br/>
			Noticia : <textarea name="noticia"><%= noticia.noticia%></textarea>

			<br/>
			<button type="submit">Enviar</button>

		</form>
	</body>
</html>